name: build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: yarn install --ignore-scripts
      - run: yarn compile
