name: prebuild

on:
  push:
    branches:
      - master
    tags:
    - 'v*'
  pull_request:
  release:

jobs:
  prebuild:
    strategy:
      matrix:
        include:
          - name: darwin
            os: macos-11
            node: x64
            command: prebuild --arch x64+arm64
          - name: win32-x86
            os: windows-latest
            node: x86
            command: prebuild
          - name: win32-x64
            os: windows-latest
            node: x64
            command: prebuild
          - name: linux-x64
            os: ubuntu-latest
            command: prebuild-cross -i ghcr.io/node-usb/centos7-devtoolset7 -i ghcr.io/node-usb/alpine
          - name: linux-arm
            os: ubuntu-latest
            command: prebuild-cross -i ghcr.io/node-usb/linux-arm64 -i ghcr.io/node-usb/linux-armv7 -i ghcr.io/node-usb/linux-armv6
          - name: android-arm
            os: ubuntu-latest
            command: prebuild-cross -i ghcr.io/node-usb/android-arm64 -i ghcr.io/node-usb/android-armv7
          - name: linux-x86
            os: ubuntu-latest
            command: prebuild-cross -i ghcr.io/node-usb/linux-x86
    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - if: matrix.node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          architecture: ${{ matrix.node }}
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - run: yarn install --ignore-scripts
      - run: yarn ${{ matrix.command }}
      - run: tar -zcvf ${{ matrix.name }}.tar.gz -C prebuilds .
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.name }}.tar.gz
          retention-days: 1
  release:
    needs: prebuild
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          path: artifacts
      - uses: docker://antonyurchenko/git-release:v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: artifacts/*/*.tar.gz
